[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	shallow = true
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	shallow = true
[submodule "ssh"]
	path = ssh
	url = https://github.com/zpm-zsh/ssh
	shallow = true
