[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	shallow = true
[submodule "ssh"]
	path = ssh
	url = https://github.com/zpm-zsh/ssh
	shallow = true
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
